// Matrix Theme Variables - Blueprint
$matrix-green: #00ff41;
$matrix-green-dark: #008f11;
$matrix-green-bright: #ccffcc;
$matrix-black: #0d0d0d;
$matrix-dark: #1a1a1d;

$font-matrix: "IBM Plex Mono", "Courier New", monospace;

// Semantic Colors
$color-primary: $matrix-green;
$color-background: $matrix-black;
$color-text: $matrix-green;
