@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mix;

.matrix-editor {
  border: 1px solid vars.$matrix-green;
  padding: 1px;
  background-color: vars.$matrix-black;
  box-sizing: border-box;

  &--dynamic-height {
    height: calc(100vh - 15.75rem);
  }
}
